<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Yashwanth's Portfolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page"class="nav-link" >About</a>
        </li>
        <li class="nav-item">
          <a routerLink="/my-skills" routerLinkActive="active" ariaCurrentWhenActive="page"class="nav-link" >My Skills</a>
        </li>
        <li class="nav-item">
          <a routerLink="/workAndeducation" routerLinkActive="active" ariaCurrentWhenActive="page"class="nav-link" >Work and Education</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page"class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
          <a routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page"class="nav-link" href="#">Blog</a>
        </li>
        <li>
          <button style="margin-left:500px;" (click)="download()" class="btn btn-success"> Download Resume </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
